* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.floating-container {
    width: 60%;
    margin : 0 auto;
    box-shadow: var(--bs-secondary-color);
}

@media (max-width: 1400px) {
    :root{
        --bs-body-font-size : 12px;
    }

    .floating-container {
        width : 80%;
    }

    .rows {
        flex-wrap : wrap;
    }
}

@media (max-width : 900px) {
    .floating-container {
        width : 90%;
        margin : 30px auto;
    }

    .rows {
        width : 100%;
    }
}

.w-90 {
    width : 90%;
}

option {
    display : inline-block;
    line-height: 2em;
    height : 1.5em;
}

select {
    appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    appearance: none;
}

#advanced_scope {
    max-width : 200px;
}